@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Yanone+Kaffeesatz:wght@300;400;500;700&display=swap");

:root {
  --Montserrat: "Montserrat", Helvetica;
  --Yanone: "Yanone Kaffeesatz", Helvetica;
  --LightBlue: #8ecae6;
  --MediumBlue: #219ebc;
  --DarkBlue: #023047;
  --Yellow: #ffb703;
  --Orange: #fb8500;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  width: 25%;
  min-width: 400px;
  height: 100%;
  background-color: var(--DarkBlue);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

.sidebar.hide {
  right: -100vw;
}

.header {
  width: 100%;
  min-height: 5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 15%;
  margin-right: 1vw;
  margin-top: 1vh;
}

.business-name {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1vh;
}

.main {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_main_container {
  width: 100%;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  border-radius: 10px;
  width: 60%;
  height: 4vh;
  text-align: center;
}

.search_button {
  width: 30%;
  height: 100%;
  background-color: var(--Yellow);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px black;
  border: none;
  padding: 1vh 0;
  margin-left: 2vw;
  font-weight: bold;
}

.products_card_main_container {
  width: 100%;
  max-height: 75vh;
  margin: 2vh 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
}

.item_card {
  min-width: 80vw;
  max-width: 80vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
  padding: 2vw;
  margin: 3vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_img_card {
  width: 90%;
  margin: 0 auto;
}

.product_description {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1vh;
}

.product_price {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 1vh;
}

.add_cart_button {
  width: 60%;
  height: 5vh;
  background-color: var(--Yellow);
  padding: 1vw 0;
  margin: 1vh 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px black;
  font-weight: bold;
}

.add_cart_button:active {
  background-color: var(--Orange);
}

.cart_icon_container {
  width: 97%;
  height: 11%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5vh;
}

.cart_icon {
  width: 15%;
}

.cart_title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1vw;
}

.cart_list_container {
  width: 97%;
  height: 68vh;
  background-color: white;
  margin-top: 0vh;
}

.total_container {
  width: 97%;
  height: 9vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.checkout_buton {
  width: 97%;
  height: 8vh;
  padding: 1vw 0;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--Yellow);
  border: none;
  box-shadow: 0px 0px 3px 0px var(--LightBlue);
  margin-top: 2vh;
}

.list_cart_item_card {
  width: 96%;
  min-height: 15vh;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh auto;
}

.list_cart_item_img {
  width: 30%;
}

.list_cart_item_info_container {
  width: 80%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list_cart_item_qty_container {
  width: 90%;
  min-height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.list_cart_item_description {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1vh;
}

.add_remove_icon {
  width: 2vw;
  height: 2vw;
  margin: 0 1vw;
}

.list_cart_item_quantity {
  font-size: 1.5rem;
  font-weight: 500;
}

.list_cart_item_subtotal {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2vh;
}

.total_container_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.total_container_item_label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1vw;
}

.total_container_item_data {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1vw;
}

.total_container_item_label.total,
.total_container_item_data.total {
  font-size: 2rem;
}

.floating_cart {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: white;
  border: 2px solid var(--DarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  box-shadow: 0px 0px 15px 0px black;
  padding: 2vw;
}

.cart_floating_icon {
  width: 80%;
}

.cancel_icon {
  width: 5vw;
  position: absolute;
  top: 1vh;
  left: 3vw;
  z-index: 2;
}

@media screen and (min-width: 700px) {
  .floating_cart {
    width: 10vw;
    height: 10vw;
  }

  .logo {
    width: 7%;
  }
}

@media screen and (min-width: 1000px) {
  .main_container {
    width: 100%;
  }

  .logo {
    width: 5%;
  }

  .floating_cart {
    width: 5vw;
    height: 5vw;
  }

  input[type="search"] {
    border-radius: 10px;
    width: 50%;
    height: 4vh;
    text-align: center;
  }

  .search_button {
    width: 10%;
  }

  .item_card {
    min-width: 15vw;
    max-width: 30vw;
    min-height: 20vh;
  }

  .sidebar {
    display: flex;
    width: 30%;
  }

  .cancel_icon {
    width: 3vw;
    top: 1vh;
    left: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  .item_card {
    max-width: 10vw;
    min-height: 20vh;
    /* max-height: 20vh; */
  }

  .floating_cart {
    width: 2vw;
    height: 2vw;
  }

  .cart_floating_icon {
    width: 100%;
  }

  .cancel_icon {
    width: 2vw;
    top: 1vh;
    left: 1vw;
  }
}